@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
  /* Base font size */
  font-size: 10px;

  /* Heading height variable*/
  --heading-height: 30em;
}

body {
font-family: 'Corporative', sans-serif;
  min-height: 100vh;
  background-color: #f5f3ee;
}

header {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: fixed;
    width: 100%;
    height: var(--heading-height);
    text-align: center;
}

form {
    margin-top: 110px;
}

/* Create angled background with 'before' pseudo-element */
header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 5em;
  width: 100%;
  height: calc(var(--heading-height) + 10em);
  z-index: -1;
  /*transform: skewY(-5.5deg);*/
  background: 
    linear-gradient(rgba(92, 90, 90, 0), rgba(152, 146, 146, 0.6)),
    url("Namnlös\ design.svg"), no-repeat center / cover;
  background-size: cover;
  border-bottom: .2em solid #fff;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 6px;
  /*padding: 10rem 0 0 4.5rem;*/
  text-shadow: .022em .022em .022em #3b383c;
  color: rgb(62, 11, 11);
}

main {
  padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
    font-size: 20px;
    /*font-size: calc(2em + .25vw);
    /*font-weight: 400;*/
    /*line-height: 2;*/
    margin-bottom: 1.5em;
    color: rgb(62, 11, 11);
}

p.bold {
    font-weight: bold;
}


.button {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: rgba(215, 158, 131, 0.048) 0 -25px 18px -14px inset,rgba(187, 89, 44, 0.06) 0 1px 2px,rgba(187, 99, 44, 0.053) 0 2px 4px,rgba(187, 118, 44, 0.15) 0 4px 8px,rgba(187, 84, 44, 0.15) 0 8px 16px,rgba(187, 99, 44, 0.15) 0 16px 32px;
  color: rgb(128, 17, 0);
  cursor: pointer;
  display: inline-block;
  font-family: 'Corporative', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(60, 44, 35, 0.35) 0 -25px 18px -14px inset,rgba(187, 99, 44, 0.25) 0 1px 2px,rgba(187, 101, 44, 0.25) 0 2px 4px,rgba(187, 134, 44, 0.25) 0 4px 8px,rgba(187, 94, 44, 0.25) 0 8px 16px,rgba(187, 99, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.box{
    width: 300px;
    height: 200px;
    padding: 15px;
    border: #53006f;
    border-radius: 25px;
    background-color: #f5f3ee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-content: space-around;
    display: flex;
    flex-direction: column; /* Organizes content vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Ensures text is centered */
}

.box img{
    width: 25%; /* Makes image expand to fill the width of the box */
    height: auto; /* Keeps image aspect ratio */
    max-height: 200px; /* Limits image height */
}

.box p {
    font-size: 16px; /* Adjusted font size for readability */
    color: #333; /* Darker color for better contrast */
}

.text_blocks{
    width: 600px;
    height: 200px;
    padding: 15px;
    background-color: #f5f3ee;
    align-content: space-around;
    display: flex;
    flex-direction: column; /* Organizes content vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center; /* Ensures text is centered */
}

.div1{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

